* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "42dot Sans", serif;
  background-color: rgba(245, 248, 250, 1);
  padding: 20px;
  color: rgba(29, 44, 60, 1);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  width: 100%;
  border-bottom: 2px solid rgba(224, 230, 234, 1);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

li a {
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  color: rgba(29, 44, 60, 1);
}

li a:hover {
  width: 91;
  height: 40;
  border-radius: 6px;
  border: 2px solid rgba(100, 110, 122, 1);
}

.container {
  margin-top: 85px;
  display: flex;
  width: 892px;
  justify-self: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 15px 35px rgba(43, 64, 78, 0.1);
  margin-bottom: 40px;
}
.container .left {
  flex: 1;
  border-radius: 6px 0 0 6px;
  justify-content: center;
  align-items: center;
}

.header h1 {
  padding: 50px 50px 50px 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header h1,
.email,
.card-input {
  width: 100%;
  border-bottom: 2px solid rgba(245, 247, 250, 1);
}

h2 {
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.fullName {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.input-group,
.email,
.card-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: 400;
  font-size: 14px;
}
::placeholder {
  color: rgb(122, 116, 100);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

input {
  padding: 10px;
  width: 226px;
  height: 36px;
  border-radius: 4px;
  background-color: rgba(237, 239, 242, 1);
  border: none;
}

.email input {
  width: 370px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.card-input input {
  width: 100%;
  margin-bottom: 30px;
}

ol {
  list-style-type: none;
  counter-reset: list-counter;
  padding-left: 0;
}

ol li {
  counter-increment: list-counter;
  position: relative;
  padding: 40px;
}

ol li::before {
  content: counter(list-counter);
  position: absolute;
  left: 40px;
  top: 50px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: rgba(84, 139, 197, 1);
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border: 2px solid rgba(84, 139, 197, 1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.submit {
  padding: 15px;
  background-color: rgba(3, 142, 125, 1);
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-left: 50px;
  width: 483px;
  height: 52px;
  border-radius: 5px;
}

.left p {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  padding-left: 40px;
  margin: 20px;
  strong {
    font-weight: 700;
  }
}

.left p::before {
  content: "?";
  position: absolute;
  left: 100px;
  top: 8px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  color: rgba(84, 139, 197, 1);
  font-weight: bold;
  text-align: center;
  border: 2px solid rgba(84, 139, 197, 1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.left img {
  display: block;
  width: 92px;
  margin: 20px auto;
}

.container .right {
  width: 312px;
  padding: 40px;
  background-color: rgba(17, 121, 191, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 0 6px 6px 0;
}

.right h3 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}

.price {
  padding-bottom: 20px;
  text-align: left;
  font-weight: 300;
  font-size: 60px;
  sup {
    font-weight: 700;
    font-size: 24px;
  }
  sub {
    font-weight: 700;
    font-size: 18px;
  }
}

.renews {
  padding-right: 50px;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 20px;
}

.right ul {
  list-style-type: none;
  padding-left: 0;
}

.right ul > li {
  position: relative;
  padding: 25px 30px 5px;
}

.right ul > li::before {
  position: absolute;
  content: "";
  display: block-inline;
  width: 20px;
  height: 20px;
  background-image: url("./Combined\ Shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0px;
}

.switch {
  margin: 30px 0;
  border-bottom: 1px solid rgba(185, 245, 255, 1);
  a {
    display: block;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-decoration-color: rgba(185, 245, 255, 1);
    margin: 30px 0;
  }
}

blockquote {
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0;
  strong {
    font-weight: 700;
    font-style: italic;
  }
}

section p {
  position: relative;
  padding: 25px 35px 5px;
  font-weight: 700;
  font-size: 16px;
}

section p::before {
  position: absolute;
  content: "";
  display: block-inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("./Bitmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0px;
  top: 20px;
}

footer {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  span {
    color: royalblue;
  }
}
